nav.global-header {
    background-color: #007A87;

    .navbar-brand {
        & > img {
            height: 32px;
        }

        & > span {
            margin-left: 8px;
        }
    }
}


div.app-container {
    padding-top: 58px;
}
